{% extends "courses/layout.html" %}
{% load static %}
{% block body %}
<div style = "text-align: center;margin-top: 7%;">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@400&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Livvic', sans-serif;
            background-color: rgb(0, 0, 0);
            color:#ffffff;
        }
    
    </style>

    <h1 class="lh12">Course {{ course.id }}</h1>
        <p class="litb">Name <span style="color:#f4a7bb">:</span> {{ course.name }}<br>
            Quantity <span style="color:#f4a7bb">:</span> {{ course.maxquantity }}<br>
            Semester <span style="color:#f4a7bb">:</span> {{ course.semester }}<br>
            Years <span style="color:#f4a7bb">:</span> {{ course.year }}<br>
            {% if course.nowquantity < course.maxquantity %}
            Quota <span style="color:#f4a7bb">:</span> {{ course.nowquantity }} / {{ course.maxquantity }}<br>
            {% else %}
            Quota <span style="color:#f4a7bb">:</span> <span style="color:tomato">{{ course.nowquantity }} / {{ course.maxquantity }} &Cross;Full&Cross;</span><br>
            {% endif %}
            {% if course.status %}
            Status <span style="color:#f4a7bb">:</span> <span style="color:#92ca91">available</span><br>
            {% else %}
            Status <span style="color:#f4a7bb">:</span> <span style="color:tomato">unavailable</span><br>
            {% if course.status and request.user.is_superuser %}
            can't register because course is unavailable.
            {% endif %}
        </p>
        {% endif %}

    {% if request.user.is_superuser %}
        <h2 class="lh12">Students</h2>
        <p class="litbb"><span style="color:#f4a7bb">&uArr;</span>
            {% for student in students %}
            {{student.first_name}} {{student.last_name}} <span style="color:#f4a7bb">&uArr;</span>
            {% empty %}
            No students &uArr;
            {% endfor %}
        </p>
    {% endif %}
    
    {% if not request.user.is_superuser %}
        {% if course.status %}
           
        {% if request.user not in students %}
            {% if course.nowquantity < course.maxquantity %}
                <a class="rbutton rbutton1" href="{% url 'courses:book' course.id %}">register</a>
                <p class="litb" style = "color: #ffffff">Click register button to register this course.</p><br>   
            {% else %}
                <p class="litb">can't register because course is full.</p>
            {% endif %}
          
        {% else %}
        <a class="dbutton dbutton1" href="{% url 'courses:remove' course.id %}">deregister</a>
        <p class="litb"><span style="color:#92ca91">you've already registered.</span><br>
        Click deregister button to deregister this course.
        </p>   
        {% endif %}
        
        {% endif %}
    {% endif %}
    
    {% if request.user in students %}
    

    {% endif %}

        <a class="outbutton outbutton1" href="{% url 'courses:index' %}">Back to courses</a>
    {% if request.user.is_superuser %}
        <a class="outbutton outbutton1" href="{% url 'courses:godhand' course.id %}">switch</a>
    {% endif %}
</div>
{% endblock %}